# محیط مجازی
venv/
env/
ENV/

# فایل‌های پایتون
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz

# فایل‌های لاگ
*.log

# فایل‌های محیط
.env
.env.local
.env.production

# فایل‌های IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# فایل‌های Render (اختیاری)
render.yaml
render.yml

# فایل‌های بزرگ یا شخصی
*.db
*.sqlite3
